[submodule "Stockfish"]
	path = Stockfish
	url = https://github.com/official-stockfish/Stockfish.git
[submodule "nnue-pytorch"]
	path = nnue-pytorch
	url = https://github.com/official-stockfish/nnue-pytorch.git
[submodule "fishtest"]
	path = fishtest
	url = https://github.com/official-stockfish/fishtest.git
[submodule "stockfish-web"]
	path = stockfish-web
	url = https://github.com/official-stockfish/stockfish-web.git
[submodule "WDL_model"]
	path = WDL_model
	url = https://github.com/official-stockfish/WDL_model.git
[submodule "books"]
	path = books
	url = https://github.com/official-stockfish/books.git
[submodule "stockfish-wiki-bot"]
	path = stockfish-wiki-bot
	url = https://github.com/official-stockfish/stockfish-wiki-bot.git
